@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @font-face {
  font-family: 'Infini Italic';
  src: url('/public/fonts/Infini/infini-italic.woff2') format('woff2'),
       url('/public/fonts/Infini/infini-italic.woff') format('woff'),
       url('/public/fonts/Infini/infini-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Beliau';
  src: url('/public/fonts/Beliau/beliau.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0 !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}


/* navbar  */
/* Navbar.module.css */

/* Transparent Navbar */
.navbar-dark {
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with 50% transparency */
  transition: background-color 0.3s ease;
  /* Smooth transition */
  z-index: 1,
}

/* Dark background on scroll */
.bg-dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  /* Slightly darker on scroll */
  z-index: 1,
}

.title-font{
  font-family: "Montserrat", sans-serif;

}
/* Responsive Design */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }

  .nav-link {
    padding: 10px 15px;
  }
}

.navbar-brand {
  color: #f7ca44 !important;
  /* Logo color */
  font-size: 1.5rem;
}

.navbar-toggler {
  border: none;
  color: white;
}

.oi-menu {
  font-size: 1.5rem;
}





.footer {
  background: #404040;
  padding: 8em 0;
  color: #fff;
}

.footer .heading-section {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: .1em;
  color: #fff !important;
  font-family: "Overpass", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.block-21 figure {
  -webkit-box-flex: 0;
  flex: 0 0 80px;
}

.block-21 figure img {
  border: 4px solid #fff;
  border-radius: 4px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.block-21 .text .heading {
  font-size: 18px;
  font-weight: 300;
}

.footer .block-21 .heading a {
  color: #fff !important;
  text-decoration: none;
}

.block-21 .text .meta>div {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.footer .block-21 .meta a {
  color: gray !important;
  text-decoration: none;
}

a.link-underline {
  text-decoration: underline;
  color: #f7ca44;
}

.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: #f7ca44;
}

.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}



.featured-section {
  padding: 4em 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* .featured-section.overlay-color-2:before {
  background: #f7ca44;
} */


.featured-section.overlay-color-2:before {
  position: absolute;
  content: "";
  /* background: #28a745; */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .9;
}

.featured-section img {

  box-shadow: 0 4px 30px -5px black;
  border-radius: 7px;
}


.featured-section .featured-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.featured-section h2 {
  color: #fff;
  font-weight: 300;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
}

.featured-section p {
  color: #fff;
}

.featured-section .fund-raised {
  font-weight: 900;
  color: #fff;
}

/* navbar css */
.navbar {
  position: absolute !important;
  top: 15px;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  z-index: 100;
  background-color: transparent !important;
  width: 100%;
}

.navbar-nav {
  gap: 35px !important;
}

.nav-link {
  font-size: 13.5px;
  color: #e4e4e4 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

}

.nav-item.active {
  border-bottom: 2px solid white;
}

.nav-item {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

a:hover {
  text-decoration: none !important;
}


/* footer */

.footer a {
  color: #f7ca44 !important;
}

.block-23 ul li .icon, .block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block-23 ul li{
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: #f7ca44;
}



.wt1 {
  width: 29%;
  height: 23rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.wt1 img {
  width: 100%;
  height: 100%;
}

.wt2 {
  width: 38rem;
  /* height: 25rem; */
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.wt-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  padding-top: 3rem;
  padding-bottom: 6rem;
  border-bottom: 0.5px solid #f1f1f1;
}

.wt-container button {
  border: none;
  background: #f7ca44;
  letter-spacing: 2px;
  color: white;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.wt2 .p1 {
  padding-top: 10px;
  line-height: 34px;
  font-weight: 300;
  font-size: 19px;
}
.wt2 .p2 {
  font-weight: 300;
  word-spacing: 2px;
}
.wt2 h1 {
  font-size: 3rem;
  font-weight: 300;
}
.mission-content-wrap {
  display: flex;
  gap: 1rem;
  width: 23rem;
}
.mission-content-wrap h3 {
  font-weight: 300;
  font-size: 20px;
}
.mission-content-wrap p {
  color: #a5a5a5;
  font-weight: 200;
}
.mission-content-wrap a {
  color: #f7ca44;
}
.inetiative-container {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 2.3rem;
}


.ourteam-container {
  padding: 5rem 0;
}


.ot-h1 {
  font-weight: 300;
}
.ot-p {
  letter-spacing: 0.7px;
  font-size: 1.2rem;
  color: #464646;
  font-weight: 300;
  line-height: 33px;
}
.team-img img {
  width: 80%;
  height: 100%;
  border-radius: 10px;
}

.team-img {
  width: 100%;
  padding-bottom: 1rem;
}
.team-wrap {
  width: 15rem;
}
.team-wrap p {
  margin-bottom: 0 !important;
}
.team-flex {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 4rem;
}
.team-wrap .p2 {
  color: grey;
    font-weight: 200;
    font-size: 15px;
}
.volunteer-input {
  border: 2px solid white;
  background: transparent;
  width: 89%;
  padding: 0.5rem;
}
.volunteer-input::placeholder {
  font-style: italic;
  color: white;
  letter-spacing: 1px;
}
.volunteer-textarea {
  height: 10rem;
}

.blog-row {
  gap: 2rem;
  flex-wrap: nowrap !important;
  padding-top: 3rem;
}
.blog-col img {
  width: 100%;
  height: 100%;
}
.blog-col a {
  color: #f7ca44 !important;
  text-decoration: underline !important;
}
.blog-container {
  padding-bottom: 8rem;
  padding-top: 2rem;
}

.contact-container input {
  width: 100%;
  border: 0.5px solid rgb(206, 206, 206);
  padding: 1rem;
  margin-top: 1rem;
}
.contact-container textarea {
  width: 100%;
  border: 0.5px solid rgb(206, 206, 206);
  padding: 1rem;
  margin-top: 1rem;
  height: 12rem;
}
.contact-container button {
  background-color: #f7ca44;
  color: white;
  border: none;
  letter-spacing: 1px;
  word-spacing: 3px;
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.contact-container {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.contact-col img {
  height: 75%;
  width: 100%;
}





