/* our initiatives */
.text1imgdiv{
    /* border: 2px solid blue; */
    width: 50%;
    height: 35rem;
  }
  .text2imgdiv{
    /* border: 2px solid red; */
    width: 50%;
    font-size: 19px;
  
  }
  .flextextdiv{
    display: flex;
    justify-content: center;
    gap:3rem;
    align-items: center;
    padding-top: 3rem;
  }
  .insideimg1{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1px;
    object-fit: cover;
  }
  .textpara1{
    font-family: sans-serif;
    font-weight: 500;
    color: grey;
    padding-top: 15px;
    text-align: center;
    
  }
.initiativeWrapper{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.spantext1{
  font-size: 1.5rem;
  font-weight: 700;
}

.schoolspantext{
  color: black;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}