.carouselItem {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .featuresSection {
    flex: 0.3; 
    padding: 20px;
    color: #fff;
    background-color: #221f20; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    height: 100%; 
  }
  
  .featuresSection h3 {
    font-size: 1.2rem; 
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
  
  .featuresSection ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .featuresSection li {
    margin-bottom: 8px; 
    font-size: 0.7rem;
  }
  
  .imageSection {
    flex: 0.8; 
  }
  
  .carouselImage {
    width: 100%;
    height: auto;
  }
/* Media Query for smaller screens: stack image on top and features below */
@media (max-width: 1024px) {
    .carouselItem {
      flex-direction: column; /* Stack image and features vertically */
    }
  
    .imageSection {
      order: 1; /* Image section goes on top */
    }
  
    .featuresSection {
      order: 2; /* Features section goes below the image */
      flex: unset; /* Reset flex behavior */
      padding: 15px;
      height: auto; /* Let it adjust based on content */
    }
    
  }
  
  @media (max-width: 464px) {
    .featuresSection h3 {
      font-size: 1rem; /* Smaller heading on mobile */
    }
  
    .featuresSection li {
      font-size: 0.6rem; /* Smaller list items on mobile */
    }
  
    .featuresSection {
      padding: 10px;
    }
    
  }